@import url('https://fonts.googleapis.com/css2?family=Berkshirw+Swash&family=Ranchers&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Baloo Bhai 2', cursive;
}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar::after{
      border: 3px solid green;
  }
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 22px;
    color: rgb(250, 246, 246);
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
    border-radius: 8955px;
  }

  .active {
    background-color: #323381;
    border-radius: 127px;
  }

  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    .navbar {
        background-color: none;
        display: block;
        width: 400px;
    }
    .container{
        display: block;
        flex-direction: column;
    }
    .container p{
        width: 79%;
        height: 506px;
        flex-direction: column;

    }
    .container .card{
        justify-content: space-between;
        width: auto;
    }
    .container p{
        font-size: 10px;
    }
    .container .card h1{
      font-size: 16px;
    }
    .heading{
        font-size: 14px;
    }
    .box button{
        display: block;
        text-align: center;
    }
    img{
        width: min-content;
        float: none;
        height: min-content;
    }
    footer p{
/* display: block; */
width: auto;
    }
  }
  @media screen and (max-width: 900px) and (min-width: 500px){
    .container .card{
      padding: 45px;
      width: 100%;
      margin-bottom: 34px;
    }
    .navbar{
        display: block;
        background-color: none;
        width: 1100px;
    }
    .navbar a {
        float: none;
        display: block;
      }
  }
 main{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxs i, .boxs p{
    color: #333333;
    transition: all .4s;
}

.boxs p{
   margin-top: 3px;
   font-size: 1.1rem;
}

.box input:checked ~i ,.box input:checked ~p{
    color: #4a00e0de;
    text-shadow: 0 0 30px #4a00e0de;
}
main p{
    font-size: 3em;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: rgb(209, 73, 39);
    position: relative;
}

/* p::before,p::after{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    z-index: -1;
    transition: all .4s;
} */
/* 
p:hover::before{
    transform: translate(-5px,-5px);
    text-shadow: 4px 4px 20px #ff0101;
}

p:hover::after{
    transform: translate(5px,5px);
    text-shadow: 4px 4px 20px #351fff;
} */

img {
    float: left; 
    margin: 5px;
    width: 30%;
    height: 30%;
}
.square p {
    text-align: justify;
    font-size: 18px;
}
.heading{
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(250, 249, 249);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(8, 179, 31, 0.2);
    transition: 0.3s;
    width: 40%;
    padding: 85px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(31, 7, 119, 0.2);
  }
  
  .container {
    display: flex;
text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .container p{
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
      height: 34px;
      font-family: 'Courier New', Courier, monospace;
      background: rgb(27, 102, 61);
      padding: 24px;
      margin-bottom: 4px;
  }

.box{
    width: 350px;
    height: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.btn{
    width: 150px;
    height: 46px;
    position: relative;
    background: #fff;
    margin-top: 84px;
}

.btn button{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    background: #fff;
    border: 1.5px solid #333;
    color: #333;
    cursor: pointer;
    transition: all .4s;
    z-index: 3;
}

.btn:hover button{
    color: rgb(14, 13, 13);
    border: none;
    background: linear-gradient(to right,#62f64f,#ed718c,#e7f520);
}

.bg, .bg-gradient{
position: absolute;
width: 100%;
height: 100%;
background: #ffffff;
z-index: 2;
transform: scale(1.05,1.2);
}

.bg-gradient{
    z-index: 1;
    transform: scale(0.2,1.4);
    transition: all .4s;
}

.btn:hover .bg-gradient{
    transform: scale(1.1,1.4);
    background: linear-gradient(to right,#f64f59,#c471ed,#12c2e9,#c471ed,#351fff,#ed718c,#fffeff,#f64f59);
}

 .links{
    display: flex;
    justify-content: center;  
    align-content: center;
    cursor: pointer;
    margin-top: 84px;
}

.icon{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50px;
    transition: all .8s;
}

.icon:hover{
    background: #e60073;
    box-shadow: 0 0 20px #e60073;
}

.icon:hover:nth-child(2){
    background: #0da73b;
    box-shadow: 0 0 20px #0e9737;
}

.icon:hover:nth-child(3){
    background: #a9bb0c;
    box-shadow: 0 0 20px #c9a60c;
}

.icon:hover:nth-child(4){
    background: #df4f0c;
    box-shadow: 0 0 20px #df4d14;
}

.icon i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

svg circle{
    stroke-dasharray: 150;
    transition: all .8s;
}

.icon:hover svg circle{
    stroke-dasharray: 220;
} 

.icon a{
    text-decoration: none;
    color: rgb(12, 12, 12);
}

footer{
    padding: 17px;
    color: grey;
    background-color: rgb(209, 200, 200);
}

footer p{
   text-align: center;
}